<!--

    Copyright (C) 2011-2012 Barchart, Inc. <http://www.barchart.com/>

    All rights reserved. Licensed under the OSI BSD License.

    http://www.opensource.org/licenses/bsd-license.php

-->
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <!-- <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>/home/jeremy/ddf.log</file>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender> -->
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
    <!-- <appender-ref ref="FILE" /> -->
  </root>
   <logger name="com.barchart.feed.ddf.market.provider.VarMarketDDF" level="DEBUG"/>
  <logger name="com.barchart.feed.ddf.market.provider.MapperDDF" level="ERROR"/>
  <logger name="com.barchart.feed.ddf.message.provider.BaseMarket" level="DEBUG"/>
  <logger name="com.barchart.feed.ddf.client.provider.TestBarchartFeedClient" level="DEBUG"/>
  <logger name="com.barchart.feed.ddf.message.provider.DDF_MessageService" level="DEBUG"/>
  <logger name="com.barchart.feed.ddf.instrument.provider.ServiceMemoryDDF" level="ERROR"/>
  <logger name="com.barchart.feed.ddf.instrument.provider.DDF_InstrumentProvider" level="ERROR"/>
  <logger name="com.barchart.feed.ddf.datalink.provider.FeedClientDDF" level="DEBUG"/>
</configuration>